*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEF5FF;
}

.container{
    background-color: #9EB8D9;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #9EB8D9;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #7C93C3;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #A25772;
}
