table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #EEF5FF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #7C93C3;
    color: #fff;
}

tr:hover {
    background-color: #9EB8D9;
}